<?xml version="1.0"?>
<config>
    <modules>
        <Jsa_StoreLocation>
            <version>0.1.0</version>
        </Jsa_StoreLocation>
    </modules>
    <frontend>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Jsa_StoreLocation.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <routers>
            <storelocation>
                <use>standard</use>
                <args>
                    <module>Jsa_StoreLocation</module>
                    <frontName>storelocation</frontName>
                </args>
            </storelocation>
        </routers>
        <layout>
            <updates>
                <storelocation>
                    <file>storelocation.xml</file>
                </storelocation>
            </updates>
        </layout>
    </frontend>

   <admin>
        <routers>
            <storelocation>
                <use>admin</use>
                <args>
                    <module>Jsa_StoreLocation</module>
                    <frontName>storelocation</frontName>
                </args>
            </storelocation>
        </routers>
    </admin>

    <global>
        <blocks>
            <storelocation>
                <class>Jsa_StoreLocation_Block</class>
            </storelocation>
        </blocks>
        <helpers>
            <storelocation>
                <class>Jsa_StoreLocation_Helper</class>
            </storelocation>
        </helpers>
        <models>
            <storelocation>
                <class>Jsa_StoreLocation_Model</class>
                <resourceModel>storelocation_mysql4</resourceModel>
            </storelocation>

            <storelocation_mysql4>
                <class>Jsa_StoreLocation_Model_Mysql4</class>
                <entities>
                    <store>
                        <table>jsa_store</table>
                    </store>
                </entities>                 
            </storelocation_mysql4>
        </models>
        <resources>
            <storelocation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocation_write>
            <storelocation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocation_read>

            <storelocation_setup>
                <setup>
                    <module>Jsa_StoreLocation</module>
                    <class>Jsa_StoreLocation_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelocation_setup>

        </resources>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <storelocation>
                    <file>storelocation.xml</file>
                </storelocation>
            </updates>
        </layout>
    </adminhtml>
</config>
